.Header-contain{
    background-color: rgb(38, 26, 26);
    font-size: 10pt;
    justify-content: space-evenly;
    display:inline-flex;
    width: 960px;
            
    }
    .Font-estilo{
        color: rgb(217, 121, 4);
    }

